.App{
  margin-bottom: 30px;
}

.navBar{
  background-color: blue;
  justify-content: space-around;
  display: flex;
  color: white;
}
.navDiv{
  position: relative;
}
.itemsDiv{
  background-color: white;
  color: black;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}

.itemsIcon{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.cart{
  text-align: center;
}
.cartClearButton{
  padding: 10px;
  border: none;
  background-color: blue;
  border-radius: 30px;
  color: white;
}
.cartItem{
  display: flex;
  margin: 50px 150px;
  justify-content: space-between;
}
.cartInfo{
  text-align: right;
}
.cartQuantityButton{
  border: none;
  background-color: white;
}
.cartQuantity{
  margin-right: 8px;
}
.cartDeleteButton{
  padding: 10px;
  border: none;
  background-color: red;
  border-radius: 30px;
  color: white;
  margin-top: 50px;
}
